{% extends 'template.twig' %}

{% block title %}Login | {% endblock %}

{% block body_class %}login text-center{% endblock %}

{% block content %}
	<form action="{{ path_for('auth.login') }}" method="POST" class="form-signin" autocomplete="off">
		<img src="/resources/images/electron.svg" class="mb-4" height="100" />
		<h1 class="h3 mb-3 font-weight-normal">Electron Releaser</h1>

		{% if flash.getMessage('auth.error') or errors %}
			<div class="alert alert-danger text-left">
				{% for error in flash.getMessage('auth.error') %}
					{{ error }}
				{% endfor %}

				{% for error in errors %}
					{{ error | first }}<br />
				{% endfor %}
			</div>
		{% endif %}

		<input type="email" name="email" placeholder="Email address" value="{{ old.email }}" class="form-control{{ errors.email ? ' is-invalid' : '' }}" />
		<input type="password" name="password" placeholder="Password" class="form-control{{ errors.password ? ' is-invalid' : '' }}" />

		{{ csrf_field() | raw() }}

		<button type="submit" class="mt-4 btn btn-lg btn-primary btn-block">Login</button>

		<p class="mt-5 mb-3 text-muted">Copyright © 2018 Jakub Vaněk</p>
	</form>
{% endblock %}
