<div class="card">
	{% if uploadTokens is not empty %}
		<div class="table-responsive">
			<table class="table table-hover m-0">
				<thead>
					<tr>
						<th></th>
						<th>Token</th>
						<th class="text-right">Created</th>
						<th class="text-right">Used</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					{% for token in uploadTokens %}
						<tr>
							<td class="align-middle text-right"><span class="badge badge-primary">{{ token.label }}</span></td>
							<td class="align-middle">{{ token.value }}</td>
							<td class="align-middle text-right">
								{{ token.createdBy.email }}
								<small>({{ token.created_at|date('d. m. Y H:i') }})</small>
							<td class="align-middle text-right">{{ token.used_times }}x</td>
							<td class="align-middle">
								<button class="btn btn-sm btn-link text-danger js-form-modal" data-token-id="{{ token.id }}" data-toggle="modal" data-target="#modal-remove-upload-token">
									<div class="fa fa-trash"></div>
								</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<div class="card-body text-center text-muted">
			No tokens found, maybe generate one?
		</div>
	{% endif %}
</div>
